@import url(reset.css);

#home {
	background-image: url(../img/pizza1.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
#menu {
	background-image: url(../img/pizza-order.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.logo {
	margin-top: 10px;
	margin-left: 10px;
	float:left;
	border-style: solid;
	border-color: #EEC900;
	border-width: 10px;
	border-right: none;
}

header h1 {
	font-size: 400%;
	font-family: 'Over the Rainbow', cursive;
	color:#EEC900;
}

header {
	margin-top: 10px;
	background-color: #CD96CD; 
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style: solid;
	border-width: 10px;
	border-left: none;
	border-color: #EEC900;
}

header a {
	text-decoration: none;
	font-family: 'Libre Baskerville', serif;
	color: #EEC900;
}

header a:hover {
	background-color:#EEC900;
	color: purple;
	font-weight: bold;
	padding:10px;
}


header li {
	padding: 15px;
}

section {
	float: right;
	width: 70%;
	margin-top: 20%;
	background-image: url(../img/brickwall.png);
	border-style: solid;
	border-width: 10px;
	border-color: #EEC900;
}
#menupage {
	width: 70%;
	height: 600px;
	overflow: scroll;
}
section li {
	padding: 10px;
	text-indent: 5%;
	font-family: 'Libre Baskerville', serif;
	color: purple;
}
section li a {
	text-decoration: none;
	color: red;
}
section li a:hover {
	color: purple;
	background-color: gold;
	padding: 5px;
}
h2 {
	padding: 10px;
	font-size: 120%;
	font-style: italic;
	text-align: center;
	font-family: 'Libre Baskerville', serif;
	color: purple;
	font-weight: bold;
}
h4 {
	padding-bottom: 1em;
	padding-left: 10px;
}

.type h2 {
	text-align: left;
	font-size: 150%;
}

.type li p {
	padding-left: 80px;
	text-indent: 0;

}
.sizes li {
	font-weight: bold;
	padding-left: 10px;

}
#special {
	font-style: italic;
	font-weight: bold;
	font-size: 110%;
}
h3 {
	font-size: 130%;
}



